<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="/static/css/slider.css">
    <!--Loads Angular -->
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <!-- Add jQuery library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/static/js/index.js"></script>
    <script src="/static/js/slider.js"></script>
  </head>
  <body ng-controller="mainController">
    <nav>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Camps</a></li>
        <li><a href="#">Stories</a></li>
      </ul>
    </nav>
    <div ng-view>
    </div>
  </body>
</html>
