/*.slider {
  width:100%;
}*/
/*
.slide {
  width:33.33%;
  height:auto;
  float:left;
  background: linear-gradient(135deg, rgba(0,0,0,0.4),
  rgba(0,0,0,0.25));
}*/

/*.slide {
    position: absolute;
    top: 0;
    left: 0;
}*/

/*img {
  position: relative;
  z-index:-1;
}*/

/*.slide-window {
  width:100%;
  height:auto;
  overflow:hidden;
  position:relative;
}*/

/*.arrow {
  opacity: 0.5;
}*/

/*#rightNav {
	right:20;
  z-index: 1;
}

#leftNav {
	left:20;
  z-index: 1;
}*/

#internment-title {
  position: absolute;
  left: 55%;
  transform: translate(-50%,-50%);
  font-family: Verdana;
  font-size: 50px;
  color: white;
}

#internment-pp {
  position: absolute;
  left: 51%;
  top: 40%;
  transform: translate(-50%,-50%);
  font-family: Verdana;
  font-size: 20px;
  color: white;
}

#tule-title {
  position: absolute;
  left:10%;
  top:-40;
  font-family: Verdana;
  font-size: 100px;
  color: #4e76f7;
}

#tule-pp {
  position: absolute;
  left: 41%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: Verdana;
  font-size: 20px;
  color: white;
}

#lake-title {
  position: absolute;
  left:11.5%;
  bottom: 48%;
  font-family: Verdana;
  font-size: 72px;
  color: white;
}

#heart-title {
  position: absolute;
  left:10%;
  top: -40;
  font-family: Verdana;
  font-size: 100px;
  color: #ff5134;
}

#mountain-title {
  position: absolute;
  left:10.3%;
  top:80;
  font-family: Verdana;
  font-size: 72px;
  color: white;
}

/*.slide-holder {
  width:300%;
  background-color: blue;
  margin-left:0%;
  transition: margin-left 1s;
}*/

.button {
  top: 85%;
  left: 40%;
  position: absolute;
}

.button:hover {
  cursor: pointer;
}

/* gradient */
section.border button {
  color: white;
  background: rgba(0,0,0,0);
  border: solid 5px white;
  font-size: 30px;
  padding: 5px 10px 5px 10px;
}

#navbar {
  margin: 50px;
}

#ul-nav {
  list-style-type: none;
}

.li-nav {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.li-nav:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}

/* Code will be the slide show */
