
img {
  width: 100%;
  height: auto;
  /*background: linear-gradient(135deg, rgba(0,0,0,0.4),
  rgba(0,0,0,0.25));;*/
}

.action-button {
  position: absolute;
  left: 40%;
  top: 80%;
	padding: 10px 20px;
	border-radius: 2px;
	font-size: 20px;
  font-family: Verdana;
	color: #FFF;
	text-decoration: none !important;
}

.pink {
  background-color: #CA2A60;
}

#test:hover {
  background-color: #A90163;
  color: white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.slider {
    width: 1200px;
    height: 430px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    /*border: 2px solid black;*/
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 60px;
    height: 70px;
    outline: none;
    cursor: pointer;
}

.arrow.prev {
    opacity: 1.0;
    left: 20px;
    background-image: url(/static/images/white_left_arrow.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 1.0;
    right: 20px;
    background-image: url(/static/images/white_right_arrow.png);
    transition: 0.2s linear all;
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: -100;
    bottom: -4px;
    right: 80;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

/*Styles for flexbox */
  .flex-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-fox;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display : flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    background: blue;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
  }

  .flex-header {
    color: white;
    font-family: Verdana;
  }

  .flex-info {
    margin: 10 auto;
    text-align: left;
    width: 200px;
  }

  .avatar {
    width: 150px;
    border-radius: 20%;
  }

  figcaption {
    color: white;
    font-family: Verdana;
  }

  .camp-image {
      width: 200px;
      height: 200px;
  }

  .camp-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-fox;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display : flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .camp-header {
    font-family: Verdana;
    text-align: left;
    font-size: 20px;
  }

  .page-header {
    text-align: center;
    font-family: Verdana;
  }
